.cardPromocionesIndex{
    margin-bottom: 1%;
}
.promocionespadingIndex{
    padding: 40px;
}
.interiorPromocionesIndex{
    background-color: #CCD6A6;
}

.cardProductosIndex{
    margin-top: 1%;
    margin-bottom: 3%;
}
.interiorProductosIndex{
    background-color:#CCD6A6;
}

.subtituloIndex{
    padding-left: 6%;
    padding-top: 2%;
}